[Desktop Entry]
Name=Lose Luege Läse
Exec=/usr/share/bin/luegeloselaese
Icon=lll.png
Type=Application
Categories=Education
Keywords="sprachen deutsch z1  lesen hören"

